
<div class="newBurgers">
  <div class="panel panel-default">
    <div class="panel-heading" id="panel-heading-left"><h4>BURGERS YOU WANT</h4>
    </div>
      <div class="panel-body">
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
              
              <li>
                {{this.burger_name}}

                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit" id="left-button">Devour It!!</button>
                </form>

              </li>

            {{/unless}}
          {{/each}}
        </ul>
       
        </div>
      </div>
</div>

<div class="eatenBurgers">
  <div class="panel panel-default panel-right">
    <div class="panel-heading" id="panel-heading-right"><h4>BURGERS YOU ATE</h4>
    </div>
      <div class="panel-body">

      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button type="submit">I want it again!</button>
              </form>
            </li>
          {{/if}}
        {{/each}}
      </ul>
       
        </div>
      </div>
</div>


<div class="addBurger">
    <h2>What burger are you in the mood for?</h2>
    <form class="create-update-form" action="burgers/create" method="POST">

      <div class="form-group">
        <label for="ca">Burger Type:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button type="submit">Add burger</button>
    </form>
</div>
